<!-- templates/emails/welcome_email.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Our Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="font-sans bg-gray-100 p-8">
  <table class="w-full" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center">
        <table class="w-[600px] bg-white rounded-lg shadow-md" cellpadding="20" cellspacing="0" border="0">
          
          <!-- Header -->
          <tr>
            <td class="bg-green-600 text-white text-center p-6 rounded-t-lg">
              <h1 class="m-0 text-2xl font-bold">Welcome to Our Platform</h1>
            </td>
          </tr>

          <!-- Body -->
          <tr>
            <td class="p-6">
              <h2 class="text-xl font-semibold text-gray-800">Hi {{first_name}} {{last_name}},</h2>
              <p class="text-gray-600 text-base leading-relaxed mt-4">
                We're excited to welcome you to our Ngereraro community! 🎉<br><br>
                Thank you for registering. You now have access to all our features and resources.
              </p>

              <p class="text-gray-600 text-base leading-relaxed mt-4">
                <span class="font-medium">Verify Your Account:</span>  
                To get started, please verify your account using the OTP below:
              </p>
              <p class="text-center  text-red-300 text-2xl tracking-widest font-bold  my-6">
                {{ otp }}
              </p>

              <p class="text-sm text-gray-500 mt-6">
                Warm regards,<br>
                <span class="font-semibold">The Team</span>
              </p>
            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td class="bg-gray-100 text-gray-500 text-center p-3 rounded-b-lg text-xs">
              &copy; {{ current_year }} Ngererayo.com. All rights reserved.
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</body>
</html>
