<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Api landing page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
  <div class="flex  flex-col justify-center items-center mt-20">

      <h1 class="text-3xl font-bold text-center">Welcome to Ngererayo Api landing page</h1>
    <p class="text-center">This is the landing page for the Ngererayo API. You can explore the available endpoints and their functionalities.</p>
    <a href="{% url 'schema-swagger-ui' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Go To swagger documentation</a>
  </div>

 
    
</body>
</html>